<footer class="footer bg-dark text-light navbar-fixed-bottom">
    <div class="text-center">
      <!-- Instagram -->
      <a href="#"><img style="padding-top: 5px; width: 25px;" src="assets/images/iconmonstr-instagram-11-48.png"></a>
      <!-- Snapchat -->
      <a href="#"><img style="padding-top: 5px; width: 25px;" src="assets/images/iconmonstr-snapchat-5-48.png"></a>
      <!-- Twitch -->
      <a href="#"><img style="padding-top: 5px; width: 25px;" src="assets/images/iconmonstr-twitch-5-48.png"></a>
      <!-- Twitter-->
      <a href="#"><img style="padding-top: 5px; width: 25px;" src="assets/images/iconmonstr-twitter-5-48.png"></a>
      <!-- Youtube -->
      <a href="#"><img style="padding-top: 5px; width: 25px;" src="assets/images/iconmonstr-youtube-5-48.png"></a>
    </div>
    <!-- Copyright -->
    <div class="text-center">© 2018 Skyplay
    </div>
  <!-- Copyright -->
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>