<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{ page.titlebar | default: site.title }}</title>

	<link rel="stylesheet" href='{{ "/assets/css/style.css" | relative_url }}'> <!-- normalize.css -->

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href='{{ "/assets/css/bootstrap-slate.css" | relative_url }}'>
	<link rel="stylesheet" href='{{ "/assets/css/footer.css" | relative_url }}'>
	<link rel="stylesheet" href='{{ "/assets/css/add.css" | relative_url }}'>

	{{ page.head }}

</head>